h2 > a {
    position: relative;
    color: #000;
    text-decoration: none;
}

h2 > a:hover {
    color: #000;
}

h2 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.prod-data {
    width: 200px;
    height: 220px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.prod-data:hover,
.prod-data:active {
    transition-duration: 0.6s;
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.75);
}

.prod-desc {
    display: none;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.75);
    background-color: #9363c4;
    color: #fff;
    width: 100%;
}

.prod-prize {
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
}

.prod-info {
    text-align: justify;
    padding: 10px 20px 0 20px;
    font-size: 12px;
}

#prod-nf {
    background-color: transparent;
    color: red;
    text-align: center;
}

.cat-href {
    color: #fff;
}

.cat-href:hover,
.cat-href:active {
    color: #fff;
    text-decoration: none;
}

.in-category {
    font-size: 3em;
    display: inline-block;
    width: 200px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}

.in-category:hover,
.in-category:active {
    background-color: #9363c4;
    border-color: #9363c4;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}










