.info-global {
	color: white;
}

.info-title {
	text-decoration: underline;
}

.info-main-text {
	font-size: 12px;
}

.info-req {
	background-color: #9363c4;
}

.info-href {
	color: white;
	text-decoration: underline;
	transition: color 0.3s ease-out;
}

.info-href:hover,
.info-href:active {
	text-decoration: none;
	color: #9363c4;
}

.info-div-img {
	text-align: center;
}

.info-img {
	border: 1px black solid;
	width: 1200px;
}

@media only screen and (max-width: 1300px) {
	.info-img {
		width: 900px;
	}
}

@media only screen and (max-width: 1000px) {
	.info-img {
		width: 600px;
	}
}

@media only screen and (max-width: 700px) {
	.info-img {
		width: 400px;
	}
}