<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Main Page</title>
	
		<!-- External icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
		<!-- External css -->
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
		
		<!-- Internal css -->
		<link rel="stylesheet" th:href="@{/css/general.css}" />
		<link rel="stylesheet" th:href="@{/css/category.css}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light nav-main">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" style="margin-left: 50px">
					<li class="nav-item">
						<a class="glyphicon glyphicon-home icon" th:href="@{/}">
							<span class="icon-tooltip">Ekran powitalny</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="glyphicon glyphicon-gift icon" th:href="@{/main}">
							<span class="icon-tooltip">Kategorie</span>
						</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto" style="margin-right: 50px">
					<li class="nav-item">
						<a class="glyphicon glyphicon-shopping-cart icon" th:href="@{/}">
							<span class="icon-tooltip">Koszyk</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="glyphicon glyphicon-user icon" th:href="@{/login}">
							<span class="icon-tooltip">Dane użytkownika</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="nav-grad"></div>

		<div class="titleText">
			<h1 class="small-mg-bot" th:text="'Kategoria: ' + ${categoryName}"></h1>
		</div>

		<div class="container">
			<div class="row" th:if="${products.size()} != 0">
				<th:block th:each="product : ${products}">
					<div class="col">
						<div class="prod-data">
							<div class="prod-desc">
								<h2 th:text="${product.getProducer().toUpperCase()}"></h2>
								<h3 th:text="${product.getModel()}"></h3>
							</div>

							<img class="prod-img" th:src="@{'/img/products/' +
									${product.getProductId()} + '.jpg'}">

							<div class="prod-prize">
								<a class="prod-href" th:href="@{/products/product(productId=${product.getProductId()})}"
								   th:text="${#numbers.formatDecimal(product.getPrize(), 2, 2)} + ' zł'"></a>
							</div>

						</div>
					</div>
				</th:block>
			</div>

			<div id="prod-nf" class="jumbotron" th:if="${products.size()} == 0">
				<h2>
					<i class="glyphicon glyphicon-warning-sign"></i>
					Nie znaleziono produktów!
					<i class="glyphicon glyphicon-warning-sign"></i>
				</h2>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/category.js}"></script>
	</body>
</html>