<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Main Page</title>
	
		<!-- External icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
		<!-- External css -->
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/hamburgers.min.css}" />
		
		<!-- Internal css -->
		<link rel="stylesheet" th:href="@{/css/general.css}" />
		<link rel="stylesheet" th:href="@{/css/mainPage.css}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light nav-main">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" style="margin-left: 50px">
					<li class="nav-item">
						<a class="glyphicon glyphicon-home icon" th:href="@{/}">
							<span class="icon-tooltip">Ekran powitalny</span>
						</a>
					</li>
					<li class="nav-item">
						<a id="active" class="glyphicon glyphicon-gift icon" th:href="@{/main}">
							<span class="icon-tooltip">Kategorie</span>
						</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto" style="margin-right: 50px">
					<li class="nav-item">
						<a class="glyphicon glyphicon-shopping-cart icon" th:href="@{/}">
							<span class="icon-tooltip">Koszyk</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="glyphicon glyphicon-user icon" th:href="@{/login}">
							<span class="icon-tooltip">Dane użytkownika</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="nav-grad"></div>

		<div class="titleText">
			<h1 class="small-mg-bot">Kategorie</h1>
		</div>

		<div class="container">
			<div class="row">
				<th:block th:each="category : ${categories}">
					<div class="col">
						<div class="cat-data">
							<img class="cat-img" th:src="@{'/img/categories/' +
									${category.getName().toLowerCase()} + '.jpg'}">

							<a class="in-category" th:href="@{/products(categoryId=${category.getProductTypeId()})}"
							  		th:text="${category.getName().toLowerCase().substring(0, 1).toUpperCase()} +
							 		${category.getName().toLowerCase().substring(1).toLowerCase()}"></a>
						</div>
					</div>
				</th:block>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/mainPage.js}"></script>
	</body>
</html>