<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8">
		<title>Main Page</title>
	
		<!-- External icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
		<!-- External css -->
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
		
		<!-- Internal css -->
		<link rel="stylesheet" th:href="@{/css/general.css}" />
		<link rel="stylesheet" th:href="@{/css/product.css}" />
	</head>
	<body>
		<nav th:replace="fragments/header :: header"/>
		<div th:replace="fragments/header :: grad"/>

		<div class="titleText">
			<h1 th:text="${product.getProducer()} + ' '+ ${product.getModel()}"></h1>
			<h2 class="small-mg-bot">
				<a class="cat-href" th:href="@{/products(categoryId=${product.getProductType().getProductTypeId()})}"
				   th:text="'Powrót do kategorii: ' + ${product.getProductType().getName()}"></a>
			</h2>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm">
					<img class="unit-img" th:src="@{'/img/products/' + ${product.getProductId()} + '.jpg'}">
				</div>
				<div class="col-sm">
					<div class="unit-desc">
						<div class="unit-prize" th:text="${#numbers
							.formatDecimal(product.getPrize(), 2, 2)} + ' zł'"></div>
						<div class="unit-info">
							<div th:text="${product.getDescription()}"></div>
							<br>

							<div th:text="'Dostępna ilość produktów: ' + ${productCount.getAvaiableAmount()}"></div>

							<div th:text="${productCount.getPeopleBought()} + ' osób kupiło ' + 
								${productCount.getItemBought()} + ' przedmiotów.'"></div>
							<br>

							<div class="buttons-down">
								<div class="unit-ord-but">
									<div class="unit-button">
										<a class="unit-buy" th:href="@{/cart}">Dodaj do koszyka</a>
									</div>
									<th:block sec:authorize="hasAuthority('ADMIN')">
										<div class="unit-button">
											<a class="unit-buy" th:href="@{/editProduct(productId=${product
											.getProductId()})}">Edytuj</a>
										</div>
										<form th:action="@{/deleteProduct(productId=${product.getProductId()})}"
											  th:method="delete" class="unit-button">
											<button class="unit-buy" type="submit" name="submit" value=""
													th:text="Usuń" onClick="return confirm('Jesteś pewny?')"></button>
										</form>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/product.js}"></script>
	</body>
</html>